<% include partials/header %>



<% blogs.forEach(function(blog){ %>
  <div>
    <h2><%= blog.title %></h2>
    <img src="<%= blog.image %>" alt="" width="30%">
    <p><%= blog.create %></p>
    <p><%= blog.body %></p>
  </div>
<% }) %>


<% include partials/footer %>
